.login{
    height: 100%;
    margin: 10px 0;
}

.login-logo{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.logo-image{
    display: block;
    margin: auto;
}

.login-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.login-item{
    height: 40px;
    margin: 10px;
}

.link{
    color: #1ED760;
    transition: all .2s ease-in;
}

.link:hover{
    color: #ffffff;
}


.login-title{
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}
